<li>
  <% if status_comment.id %>
    <%= status_comment.user.name %>:
    <%= best_in_place_if (current_user == status_comment.user), status_comment, :content, :ok_button => "ok", :ok_button_class => "btn btn-success ", :cancel_button => "X", :cancel_button_class => "btn btn-danger" %></br>
    <%= time_ago_in_words(status_comment.created_at) %>
    <%= link_to "Delete", status_comment_path(status_comment), method: :delete, data: {confirm: "You sure?"} if current_user == status_comment.user%>
    </br></br>
  <% end %>
</li>

<script>
  data = <%= raw User.pluck(:name).compact.to_json %>;
  $('textarea').atwho({at:"@", 'data':data});
</script>
